html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 50ch;

    font-family: 'Courier New', Courier, monospace;

    background:
        linear-gradient(
            to bottom right,
            #88fd,
            #8cfd,
            #ccfd,
            #fcfd,
            #fccd,
            #fa8d
        ) fixed,
        #400 fixed;
}

article {
    background:
        linear-gradient(
            to bottom,
            #fcc2,
            #0000
        )
        #0000000c border-box;
    padding: 0ch 2ch;
    border: 1ch solid #fff4;
    border-radius: 1em;

    backdrop-filter: sepia(50%);
}

nav {
    list-style: inside square;
}

a {
    color: #c66;
    text-decoration: 1px solid underline;
}