html {
    height: max-content;
    background-image: linear-gradient(#954ab7, #db8f8f);
}

body {
    color: white;
    font-family: monospace;
    font-size: 1.2em;
    text-align: center;
}

.banner {
    border: 1px solid pink;
}

hr {
    border-color: pink;
}

.flexer { /* big box */
    margin-top: 1em;
    border-top: 1px solid pink;
    border-left: 1px solid pink;
    border-bottom: 1px solid pink;

    display: flex;
    flex-direction: row;
}

.flexed { /* small box */
    width: 33%;
    border-right: 1px solid pink;

    h4 {
        transition: 0.5s;
    }
}

.flexed:hover {
    h4 {
        color: rgb(253, 130, 151);
    }
}

a {
        color: rgb(252, 211, 115);
        transition: 0.25s;
        text-decoration: 1px dashed underline #85c4f4;
} a:hover {
    transition-duration: 0.5s;
    color: rgb(228, 137, 57);
    text-decoration-color: rgb(75, 211, 232);
}

.slimcon {
    width: fit-content;
}

.centerer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notoweb3 {
    border: 1px solid pink;
}