body {
    background-color: rgb(27, 5, 35);
    color: #fff;
}

.container {
    border: 2px solid #0f3e74;
    text-align: center;
    margin: 1mm;
}

.container img {
    border: 1px solid white;
}

.vflex {
    display: flex;
    flex-direction: column;
}

#welcomebox div {
    align-self: center;
    width: 95vw;
    margin-top: 5px;
}

.scrollcontainer {
    overflow: hidden;
    text-wrap: nowrap;
}

.scroller {
    animation: 8s linear infinite scroll;
}

@keyframes scroll {
    0% {
        translate: 100%;
    }

    100% {
        translate: -100%;
    }
}

#welcomescroll {
    animation: 10s linear infinite welcome;
}

@keyframes welcome {
    0% {
        translate: 100% -2em;
    }

    100% {
        translate: -100% 2em;
    }
}

.tiles {
    width: 80%;
    align-self: center;
    text-wrap: wrap;
}