body {
    background-color: rgb(27, 5, 35);
    color: #fff;
}

.container {
    border: 2px solid #0f3e74;
    text-align: center;
    margin: 1mm;
}

.container img {
    border: 1px solid white;
}

.vflex {
    display: flex;
    flex-direction: column;
}

#welcomebox {
    align-self: center;
    margin-top: 5px;
}

.scrollcontainer {
    overflow: hidden;
    text-wrap: nowrap;
    flex-wrap: nowrap;

    border: 1px dashed white;
    margin: 0.5rem 2rch;

} .scrollcontainer:hover {
    > .scroller {
        animation-play-state: paused;
    }
}

.scroller {
    animation: 10s linear infinite scroll;
    align-self: center;
}

@keyframes scroll {
    from {
        translate: 100%;
    }
    to {
        translate: -100%;
    }
}

#welcomescroll {
    animation: 5s linear infinite welcome;
}

@keyframes welcome {
    0% {
        translate: 100% -2em;
    }

    100% {
        translate: -100% 2em;
    }
}

.tiles {
    width: 100%;
}

.pagebutton {
    width: 88px;
    height: 31px;
}