body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;

    /* .text was x-axis misaligned but this fixes it */
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: #ffc0cb;
    
    /* debug
    border: 1px solid black;
    */
}

.text {
    margin: 0 2em;;
    max-width: 60em;

    /* debug
    border: 1px black solid;
    */
    
    /* part of x-axis alignment */
    align-self: center;
}

.text p {
    text-align: justify;
    margin: 1em;
    text-indent: 1.5em;
}

.endcard {
    text-align: right;
}