body {
    background: linear-gradient(.25turn, #faebef, #f1f2f3 20%, #ffffff 80%);
}

.container {
    text-align: center;
    margin: 1.25em 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    border: 1px black solid;
    transition: 5s;
}

.title:hover {
    background-color: #ffbcdc3d;
}

.title span {
    color:#ffc0cb;
}

.link {
    margin: 1em 0em;
}

.page {
    font-size: 1.25em;
}

.link a {
    color: #ffc0cb;
    transition: 2s;
}

.link {
    border: 1px rgba(255, 255, 255, 0) solid;
}

.link a:hover {
    color: #f391a1;
    border: 1px rgba(255, 192, 203, 0.485) solid;
    background-color: rgba(255, 192, 203, 0.092);
}

.sitenav {
    margin: 0 40%;
    padding: 0 1em;
    border: 1px solid black;
}

#maintitle { /* i followed a tutorial for this */
    border-right: 1px solid black;
    margin-inline: auto;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    animation: typing 1.5s steps(13) forwards,
    blinking 1s step-end infinite;
}

@keyframes typing { /* i followed a tutorial for this */
    from {
        width: 0ch;
    }

    to {
        width: 13ch;
    }
}

@keyframes blinking { /* i followed a tutorial for this */
    65% {
        border: transparent;
    }
}