body {
    background-color:rgb(251, 238, 255);
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

#welcomecontainer {
    border-bottom: 6px double black;
}

nav {
    border: 2px solid rgb(177, 91, 214);
    margin: 10px 0;
    padding: 0 1em;
    color: rgb(185, 132, 150);
}

.textcontainer p {
    font-size: 16px;
    text-indent: 2rem;
}

.textcontainer h3 {
    border-bottom: 1px solid black;
}

.textcontainer {
    border-bottom: 2px dashed black;
    margin-bottom: 1rem;
}

nav a {
    color: #e98bdc;
}

nav li {
    color: #ac6ba3;
}

.blogtext .pink {
    color: #e98bdc;
}