html {
    background-image: linear-gradient(60deg, #f6afdb, 80%, #e28cf2);
}

body {
    background-color: #ff9acb80;
    font-family: "Raleway", sans-serif;
    color: #000000;

    font-size: 1.2rem;
}

p, a, h1, h2, h3, h4, h5 {
    max-width: 80rch;
}

body section:nth-child(even) {
    background-color: #00000008;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #760687;
    transition: 1s;
}

a:hover {
    color: pink;
}


#greeting {
    border: 1px solid black;
    padding: 0.25em;
}

.scrollcon {
    border: 2px solid black;
    text-wrap: nowrap;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    width: 35ch;
}

.scroll {
    animation: infinite 5s 2s ease-in-out alternate scroller;
}

@keyframes scroller {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-35ch);
    }
}

.gencon {
    /*border: 1px dashed green; /* for ID purposes */

    padding-bottom: 1rem;
    text-align: center;
}

.horiflex {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}

.horiflex div, nav {
    width: 50%;
}

ul li {
    text-align: left;
}

.vertflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}