body > header {
    animation: 8s 0s both 1 ease-out fade-in;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        color: transparent;
    } to {
        visibility: visible;
        color: currentColor;
    }
}