html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: black;
    min-width: 40rch;
    max-width: 60rch;
    color: white;

    a {
        color: pink;
    }
}

header {
    text-align: center;
}

nav {

    > ol, > ul {
        padding: 0.5em, 8ch;
        list-style: outside decimal-leading-zero;
    }
}

.date {
    font-family: monospace;
    border: 1px lavender dashed;
}

section > div {
    border-bottom: 1px dashed #ffffff80;

    &:first-of-type {
        border-top: 1px solid #ffffff80;
    }
}