body {
    background-color: lavenderblush;

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        width: 64rch;
        font-family: Helvetica, Verdana, sans-serif;
    }
}

.highlight {
    color: transparent;

    background-image:
        linear-gradient(90deg, purple, hotpink);
    background-clip: text;
}