html {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    background: #000;

    font-family: monospace;
}

body {
    width: 50ch;

    p {
        text-indent: 1ch;
    }
}

header {
    border-bottom: 1px dashed;

    padding: 0px 1ch;

    background:
        linear-gradient(to top,
            #fff, 0.1em,
            #0000
        );
}

a {
    color: #f88;
}