body {
  background-color: #F0F8FF;
  color: #317873;
  font-family: "Times New Roman", Times, sans-serif;
}

li {
  color: #4ca198;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 2px;
  border: 1px solid black;
}

.title {
  color: #003262;
  font-family: Georgia, sans-serif;
  text-align: center;
}

.pgraphs {
  margin: 20px 50px;
}

.links {
  margin: 50px 10px;
}

#aboutme {
  color: #76f5e0;
}

#todolist {
  text-align: left;
}
