body {
  background-color: #F0F8FF;
  color: #317873;
  font-family: "Times New Roman", Times, sans-serif;
}

li {
  color: #4ca198;
}

#fishtable {
  width: 300px;
  border: 2px solid black;
  border-collapse: separate;
  table-layout: auto;
}

th {
  width: 10px;
  height: 20px;
  padding: 0px 2px;
  border: 1px solid black;
}

td {
  padding: 0px 2px;
  border: 1px solid black;
}

.title {
  color: #003262;
  font-family: Georgia, sans-serif;
  text-align: center;
}

.pgraphs {
  margin: 20px 50px;
}

.links {
  margin: 50px 10px;
}

#aboutme {
  color: #76f5e0;
}

#todolist {
  text-align: left;
}
