body {
  background-color: #F0F8FF;
  color: #317873;
  font-family: "Times New Roman", Times, sans-serif;
}

.title {
  color: #003262;
  font-family: Georgia, sans-serif;
  text-align: center;
}

#intro {
  margin: 20px 50px;
}
