html {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Noto Sans Mono", monospace, "Noto Serif", serif, "Noto Sans", sans-serif;

    background:
        linear-gradient(to top,
            #8668,
            #0000
        ) fixed,
        linear-gradient(45deg,
            #c88a  0%, #c886  20%,
            #cc8a 20%, #cc86  40%,
            #8c8a 40%, #8c86  60%,
            #8cca 60%, #8cc6  80%,
            #88ca 80%, #88c6 100%
        ) fixed,
        #000;
}

h1 {
    letter-spacing: 1px;
    &::after {
        margin: 0px 2px;
        content: "_";
        animation: 1.2s steps(2, jump-none) infinite faux-cursor-blink;
    }
}

@keyframes faux-cursor-blink {
    0% {
        color: currentColor;
    } 100% {
        color: #0000;
    }
}

body {
    min-width: 25ch;
    max-width: 40ch;

    color: #fcc;
}

body > header, section {
    border: 1px dashed #fefa;
    padding: 0px 1ch;
    margin: 0px 0px 0.5em;

    background: #544c;
    backdrop-filter: sepia(0.2) blur(4px);

    p {
        text-indent: 2ch;
    }
}

section > .heading {
    text-decoration: solid underline;
}

nav details {
    ul li::marker {
        content: "> ";
    }
}

a {
    color: #f98;
    text-decoration: 2px dashed underline;
}

a[href=""], a:not([href]) {
    color: #88f;
}
