html {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Noto Sans Mono", monospace, "Noto Serif", serif, "Noto Sans", sans-serif;

    background:
        linear-gradient(to top,
        #866a,
        #0000
        ) fixed,
        linear-gradient(45deg,
        #fcca  0%, #fcc4  20%,
        #ffca 20%, #ffc4  40%,
        #cfca 40%, #cfc4  60%,
        #cffa 60%, #cff4  80%,
        #ccfa 80%, #ccf4 100%
        ) fixed,
        #211;
}

body {
    min-width: 25ch;
    max-width: 40ch;

    color: #caa;
}

body > header, section {
    border: 1px dashed #fefa;
    padding: 0px 1ch;
    margin: 0px 0px 0.5em;

    background: #544c;
    backdrop-filter: sepia(0.2) blur(4px);
}

section > .heading {
    text-decoration: solid underline;
}

a {
    color: #fcc;
    text-decoration: 2px dashed underline;
}

a[href=""], a:not([href]) {
    color: #88f;
}