html {
    display: flex;
    flex-direction: column;
    align-items: center;

    scrollbar-color: #866 #000;

    &::selection {
        background-color: #866;
        color: #000;
    }
}

body {
    max-width: 40ch;

    background:
        linear-gradient(
        to bottom,
        #000,
        #201
        ) fixed,
        #000;
    color: #866;

    font-family: Consolas, 'Courier New', Courier, monospace;
}

article > main > section {
    background: #0004 border-box;
    border: 2px solid #302;
    padding: 0px 1ch;
    margin-bottom: 1em;

    > p {
        text-indent: 1ch;
    }
}

.underlined {
    text-decoration: 1px dashed underline;
}

a[href]:not([href=""]) {
    color: #a66;
}