html {
    display: flex;
    flex-direction: column;

    scrollbar-width: thin;
    scrollbar-color: aliceblue lavender;
}

body {
    max-width: 80rch;
    align-self: center;

    border: 2px lavender dashed;
    padding: 0.5rch;
}

header {
    padding-top: 0.5rem;
    > * {
        line-height: 0px;
    }
}

a {
    color: rgb(158, 192, 221);
}

.lr {
    display: flex;
    flex-direction: row;
    gap: 1%;

    max-width: 80rch;
    min-width: 60rch;

    > * {
        width: 49.5%;
    }
}

.content {
    padding: 0.25em 1ch;
    background-color: aliceblue;
    border-radius: 6px;
}

.thick {
    background-color: black;
    height: 1px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emote {
    font-family: sans-serif;
}

.underlined {
    font-style: normal;
    text-decoration: underline;
}