html {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffe;
    color: #620;

    scrollbar-color: #860 #ffe;
}

body {
    min-width: 40ch;
    max-width: 60ch;
    margin: 1em 10ch;

    font-family: serif;
}

h1 {
    text-decoration: 2px solid underline;
    margin: 0px initial;
}

section {
    margin: 0em 0ch 1em;

    p {
        text-indent: 2ch;
        line-height: 1.8em;
    }
}

a {
    color: #c60;

    &:hover {
        color: #616;
    }
}